@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap&subset=cyrillic');

*{
    box-sizing: border-box;
}

body{
    background-color: #20202D;
    color: #FFF;
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

.btn{
    background: linear-gradient(180deg, #FDDE76 0%, #FFBB01 100%);
    border: none;
    box-shadow: 0px 4px 0px #B68500;
    border-radius: 5px 10px;
    color: #2E2E30;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;
    outline: none;
    height: 65px;
    max-width: 100%;
    width: 285px;
}
.btn a{
    color: #2E2E30;
    display: block;
    padding: 22px 0px;
    text-decoration: none;
}
.container{
    margin: auto;
    max-width: 945px;
    width: 90%;
}
.hero{
    background: linear-gradient(0.01deg, #000000 0.01%, rgba(0, 0, 0, 0) 95.44%);
    padding-top: 50px;
    padding-bottom: 155px;
}
.hero-avatar{
    background-color: #FFF;
    background-image: url('../img/avatar.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    border: 11px solid #FFF;
    border-radius: 50%;
    height: 367px;
    width: 367px;
}
.hero-btn{
    margin-top: 38px;
}
.hero-content{
    align-items: center;
    display: flex;
    justify-content: space-between;
}
.hero-description{
    font-size: 16px;
    line-height: 28px;
    margin-bottom: 0px;
    max-width: 420px;
}
.hero-header{
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: 105px;
}
.hero-subtitle{
    color: #FFBB01;
    display: block;
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 14px;
}
.hero-title{
    font-weight: bold;
    font-size: 50px;
    line-height: 59px;
    margin-top: 0px;
    margin-bottom: 20px;
}
.section{
    padding-bottom: 92px;
    padding-top: 64px;
}
.section-title{
    font-size: 36px;
    font-weight: bold;
    line-height: 42px;
    margin: 0;
    margin-bottom: 84px;
}
.social-link{
    margin-left: 20px;
}
.social-link:first-child{
    margin-left: 0px;
}

/* features */
.features{
    background-color: #000;
}
.features-block{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.features-image{
    display: block;
    margin-bottom: 22px;
}
.features-item{
    flex-basis: 30%;
    margin-bottom: 64px;
}
.features-text{
    font-size: 16px;
    font-weight: normal;
    line-height: 28px;
    margin: 0;
}
.features-title{
    font-size: 24px;
    font-weight: bold;
    line-height: 28px;
    margin: 0;
    margin-bottom: 16px;
}
/* features */

/* projects */
.projects{
    background: linear-gradient(180.5deg, #000000 0.47%, rgba(0,0,0,0) 98.03%);
}
.projects-bullet{
    border: 2px solid #FFBB01;
    border-radius: 50%;
    display: inline-block;
    height: 10px;
    margin-left: 5px;
    margin-right: 5px;
    outline: none;
    width: 10px;
}
.projects-bullet-active{
    background: #FFBB01;
    border: 2px solid #FFBB01;
    border-radius: 50%;
    display: inline-block;
    height: 10px;
    outline: none;
    width: 10px;
}
.project-icon{
    margin-right: 16px;
}
.project-image{
    border-radius: 10px;
    max-height: 268px;
    max-width: 338px;
}
.project-slide{
    align-items: flex-start;
    display: flex;
    justify-content: space-between;
    margin-right: 10px;
}
.project-subtitle{
    font-size: 18px;
    font-weight: bold;
    line-height: 21px;
    margin: 0;
    margin-bottom: 8px;
}
.project-text{
    display: flex;
    flex-basis: 60%;
    flex-wrap: wrap;
}
.project-title{
    flex-basis: 100%;
    font-size: 24px;
    font-weight: bold;
    line-height: 28px;
    margin: 0;
    margin-bottom: 40px;
}
.project-time, .project-cost, .project-feedback{
    align-items: flex-start;
    display: flex;
}
.project-feedback{
    min-width: 550px;
}
.project-time, .project-cost{
    flex-basis: 50%;
    margin-bottom: 45px;
}
.projects-pagination{
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 45px;
}
.project-paragraph{
    font-size: 16px;
    font-weight: normal;
    line-height: 150%;
    margin: 0;
}
/* projects */

/* contacts */
.contacts{
    background: linear-gradient(0.01deg, #000000 0.01%, rgba(0, 0, 0, 0) 95.44%);
}
.contacts-block{
    align-items: center;
    display: flex;
    justify-content: space-between;
}
.contacts-data{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 45px;
}
.contacts-form{
    background: #FFF;
    border-radius: 5px;
    box-shadow: -5px 5px 0px #FFC41D;
    padding: 40px 35px 50px 35px;
    max-width: 380px;
}
.contacts-link{
    color: inherit;
    text-decoration: none;
}
.contacts-link:hover{
    text-decoration: underline;
}
.contacts-policy{
    color: #A5A5A5;
    display: inline-block;
    font-size: 15px;
    font-weight: normal;
    line-height: 18px;
    text-decoration-line: underline;
    margin-top: 75px;
}
.contacts-phone, .contacts-mail{
    flex-basis: 50%;
    margin-bottom: 55px;
}
.contacts-text{
    flex-basis: 50%;
}
.contact-title{
    font-size: 24px;
    font-weight: bold;
    line-height: 28px;
    margin: 0;
    margin-bottom: 15px;
}
.contacts-social{
    flex-basis: 100%;
}
.contacts-social .contacts-link{
    margin-right: 40px;
}
.form-btn{
    width: 100%;
}
.form-title{
    color: #000;
    font-size: 18px;
    font-weight: bold;
    line-height: 28px;
    text-align: center;
    margin: 0;
    margin-bottom: 30px;
}
.input{
    background: #F8F8F8;
    border: 0;
    border-radius: 5px;
    box-shadow: inset 0px 3px 10px rgba(199, 199, 199, 0.25);
    font-size: 14px;
    font-weight: normal;
    line-height: 28px;
    padding: 18px 20px;
    outline: none;
    padding-left: 50px;
    width: 100%;
}
.input-name{
    background-image: url('../img/user-icon.svg');
    background-repeat: no-repeat;
    background-position: center left 20px;
    margin-bottom: 15px;
}
.input-phone{
    background-image: url('../img/phone-icon.svg');
    background-repeat: no-repeat;
    background-position: center left 20px;
    margin-bottom: 25px;
}
/* contacts */

/* responsive */
@media (max-width: 1100px){
    .hero-avatar{
        height: 300px;
        width: 300px;
    }
}

@media (max-width: 835px){
    .contacts-block{
        align-items: flex-start;
        flex-direction: column;
    }
    .contacts-form{
        margin-bottom: 60px;
    }
    .hero-avatar{
        margin-bottom: 20px;
    }
    .hero-content{
        flex-flow: column-reverse;
    }
    .hero-description{
        max-width: 505px;
        text-align: center;
    }
    .hero-text{
        text-align: center;
    }
    .features-item{
        flex-basis: 45%;
    }
    .project-image{
        margin-bottom: 45px;
    }
    .project-slide{
        flex-direction: column;
    }
}

@media (max-width: 480px){
    .contacts-form{
        padding: 30px 18px 40px 18px;
    }
    .contacts-social{
        flex-basis: 49%;
    }
    .contacts-social .contacts-link{
        display: block;
        margin: 0;
        margin-bottom: 15px;
    }
    .contacts-policy{
        margin-top: 30px;
    }
    .features-item{
        flex-basis: 95%;
        margin-bottom: 30px;
    }
    .features-text{
        font-size: 14px;
        line-height: 28px;
    }
    .features-title{
        font-size: 18px;
        line-height: 28px;
    }
    .form-title{
        font-size: 15px;
        line-height: 140%;
    }
    .hero-description{
        font-size: 14px;
        line-height: 140%;
        max-width: 380px;
    }
    .hero-subtitle{
        font-size: 16px;
        line-height: 27px;
    }
    .hero-title{
        font-size: 24px;
        line-height: 28px;
    }
    .project-image{
        max-width: 100%;
        width: 100%;
        max-width: 400px;
    }
    .project-title{
        font-size: 18px;
        line-height: 150%;
    }
    .project-time, .project-cost{
        flex-basis: 100%;
        margin-bottom: 35px;
    }
    .projects-pagination{
        margin-top: 30px;
    }
    .section-title{
        font-size: 19px;
        line-height: 22px;
        text-align: center;
    }
    .contacts{
        padding-bottom: 50px;
    }
    .hero{
        padding-bottom: 20px;
    }
    .features{
        padding-bottom: 10px;
    }
    .projects{
        padding-bottom: 10px;
    }
}

@media (max-width: 375px){
    .project-image{
        max-width: 250px;
    }
}

@media (max-width: 360px){
    .hero-avatar{
        border-width: 5px;
        height: 250px;
        width: 250px;
    }
}
/* responsive */